<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi sitio web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="bootstrap-4.5.0/bootstrap.min.css">
</head>
<body>
    <div class="raw text-black-50 alert-primary"> <h2>victor</h2></div>
    <h1 class="container ">hola</h1>
    <h2 class=" " ></h2>
    <h3></h3>


    <!-- bootstrap -->

</body>
</html>